.card{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 5px #122;
}

.header-card{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 5px #122;
    background-color: rgba(242, 53, 53, 0.807);
}

.detalle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem ;
}

.notas-container{
    margin-top: 1rem;
    width: 70%;
    text-align: left;
    padding: 0 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
}

.acciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.ped-listo{
    background-color: rgba(64, 255, 0, 0.552);
}
.notas{
    hyphens: auto;
}

.eliminar{
    font-size: 1.8rem ;
    margin-bottom: 0.1rem;
    color: rgb(236, 71, 71);
    transition: 0.3s;
}
.editar{
    font-size: 1.4rem ;
    margin-bottom: 0.5rem;
    color: rgb(48, 48, 233);
    transition: 0.3s;
}
.listo{
    font-size: 1.7rem ;
    margin-bottom: 0.5rem;
    color: green;
    transition: 0.3s;
}
.eliminar:hover{
    transform: scale(1.3,1.3);
}
.editar:hover{
    transform: scale(1.3,1.3);
}
.listo:hover{
    transform: scale(1.3,1.3);
}

.detalle span{
    font-weight: bold;
}
.header-card span{
    font-weight: bold;
}
.span-fecha{
    background-color: yellow;
}
.producto{
    margin-top: 0.5rem;
}

.kilos{
    margin-top: 0.5rem;
}
.senia{
    margin-top: 0.5rem;
}
.hora{
    margin-top: 0.5rem;
}
.vendedor{
    margin-top: 0.5rem;
}
.notas{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.notas-container{
    display: flex;
}
.btn-acc{
    cursor: pointer;
    width: 6rem;
}


@media only screen and (max-width: 750px){
    .header-card{
        flex-direction: column;
        text-align: left;
        padding: 1rem 0.4rem;
    }

    .card-title{
        margin-bottom: 0.5rem;
    }

    .notas-container{
        width: 100%;
    }
}